@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:wght@400;700&family=Limelight&display=swap');

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(180deg, #3E222E 0.03%, #120008 99.97%);
    background-attachment: fixed;
}

header {
    background-color: #3E222E;
    padding: 10px;
    text-align: center;
    color: white;
}

nav {
    background-color: #3E222E;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
    color: #D4CACD;
    font-family: Libre Bodoni;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

nav a {
    float: left;
    display: block;
    color: #D4CACD;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: none;
    color: #201218;
}

#portfolio {
    max-width: 800px;
    margin: 20px auto;
    font-family: Libre Bodoni;
    color: #e9eaeb;
    font-size: 14px;
    font-weight: 200;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

td {
    padding: 8px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

@media screen and (max-width: 600px) {
    table {
        display: block;
    }

    td {
        display: block;
        width: 100%;
        box-sizing: border-box;
    }
}

footer {
    background-color: none;
    padding: 10px;
    text-align: center;
    color: #3E222E;
}

@media screen and (max-width: 600px) {
    nav a {
        float: none;
        width: 100%;
    }
}
