@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:wght@400;700&family=Limelight&display=swap');

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(180deg, #3E222E 0.03%, #120008 99.97%);
}

header {
    background-color: #3E222E;
    padding: 10px;
    text-align: center;
    color: white;
}

nav {
    background-color: #3E222E;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
    color: #D4CACD;
    font-family: Libre Bodoni;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

nav a {
    float: left;
    display: block;
    color: #D4CACD;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: none;
    color: #201218;
}

.principal {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo {
    color: #D4CACD;
    font-family: Limelight;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
}

.subtitulo {
    color: #D4CACD;
    font-family: Libre Bodoni;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    padding-bottom: 3%;
}

.corpo {
    color: #D4CACD;
    font-family: Libre Bodoni;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

body img {
    width: 200px;
    height: 200px;
    flex-shrink: 0;
    border-radius: 356px;
    background: url(<path-to-image>), cover no-repeat;
    mix-blend-mode: screen;
    padding-top: 5%;
}

footer {
    background-color: none;
    padding: 10px;
    text-align: center;
    color: #3E222E;
}

@media screen and (max-width: 600px) {
    nav a {
        float: none;
        width: 100%;
    }
}